@page "/contacts"

<div style="padding: 1rem">
    <MudText>Благодарим Вас за использование мобильного приложения "Газпром - Волонтерство"! Если у Вас возникли вопросы или проблемы при использовании приложения, пожалуйста, свяжитесь с нами через один из следующих способов:</MudText>
    <MudText>- Электронная почта: volunteersapp.support@mail.com</MudText>
    <MudText>- Страница поддержки: www.volunteersapp.com/support</MudText>
    <MudText>- Социальные сети: Facebook, Twitter, Instagram - #VolunteersApp</MudText>
    <MudText>Мы всегда готовы помочь и ответить на все Ваши вопросы! Спасибо, что Вы с нами!</MudText>
</div>
